<!-- наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все статьи и новости</h1>
<p>Количество: {{ total_news_count }}</p>

    {% for post in posts %}
        <h2><a href="{% url 'news_detail' post.pk %}">{{post.title|censor}}</a></h2>
        <p>Дата публикации: {{post.created_at|date:"d.m.Y"}}</p>
        <p>{{post.content|truncatewords:20|censor}}</p>
        <p>
        {% for c in post.categories.all%}
            <<a href="{% url 'news_category' c.id %}">{{ c.name }}</a>
        {% endfor %}
        </p>
    {% endfor %}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</ul>
{% endblock content %}